.reviewsItemGood {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 800;
  color: green;
}

.reviewsItemNeutral {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 800;
  color: rgb(192, 163, 33);
}

.reviewsItemBad {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 800;
  color: rgb(187, 52, 42);
}

.reviewsItemTotal {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 800;
  color: rgb(25, 25, 27);
}

.reviewsItemPositive {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 800;
  color: rgb(44, 190, 93);
}
